<div class="messages">
  <div class="error" *ngIf="amountPLN?.errors?.['max']">
    Maximum allowed amount is {{ MAX_AMOUNT }} PLN.
  </div>
  <div class="error" *ngIf="amountPLN?.errors?.['min']">
    Negative amount is not allowed.
  </div>
</div>

<form [formGroup]="form">
  <div>
    <label for="currency">Select Currency</label>
    <select formControlName="selectedCurrency">
      <option value="" disabled selected>Choose currency</option>
      <option *ngFor="let currency of currencies" [value]="currency.name">
        {{ currency.name }}
      </option>
    </select>
  </div>
  <div class="rate">
    <label>Exchange rate</label>
    <span>{{ getCurrentRate() }}</span>
  </div>
  <div>
    <label>PLN</label>
    <div>
      <input type="number" formControlName="amountPLN" />
      <div class="suffix">zł</div>
    </div>
  </div>
  <div *ngIf="!amountPLN?.errors?.['max'] && !amountPLN?.errors?.['min']">
    <label>{{ selectedCurrencyName }}</label>
    <div>
      <input type="number" formControlName="amountForeign" />
      <div class="suffix">{{ selectedCurrencySymbol }}</div>
    </div>
  </div>
</form>

<button type="button" (click)="toggleCurrencyList()">
  {{ showCurrencyList ? 'Hide' : 'Show' }} Currency List
</button>

<div *ngIf="showCurrencyList" class="currency-list">
  <ol>
    <li *ngFor="let currency of currencies">
      {{ currency.name }} - {{ currency.rate }} {{ currency?.symbol }}
    </li>
  </ol>
</div>
