<div class="messages">
  <div class="error" *ngIf="amountPLN?.errors?.['max']">
    Maximum allowed amount is {{ MAXIMUM_AMOUNT }} PLN.
  </div>
</div>

<form [formGroup]="form">
  <div>
    <label for="currency">Select Currency</label>
    <select formControlName="selectedCurrency">
      <option value="" disabled selected>Choose currency</option>
      <option *ngFor="let currency of currencies" [value]="currency.name">
        {{ currency.name }}
      </option>
    </select>
  </div>
  <div class="rate">
    <label>Exchange rate</label>
    <span>{{ getCurrentRate() }}</span>
  </div>
  <div>
    <label>PLN</label>
    <input type="number" formControlName="amountPLN" />
  </div>
  <div *ngIf="!amountPLN?.errors?.['max']">
    <label>Currency</label>
    <input type="number" formControlName="amountForeign" />
  </div>
</form>
